<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title th:text="#{app.title}">Birthday reminder web app</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" /> -->
</head>

<body>
<h2 class="center" style="margin-top: 6.0rem" th:text="#{error.message}">Oops! Error happened.</h2>
<div class="row center">
    <a class="btn waves-effect waves-light" style="margin-top: 2.0rem" th:href="@{/new}" th:text="#{errors.button.return}>Return
        <i class="material-icons right">keyboard_return</i>
    </a>
</div>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="js/init.js"></script>

</body>

</html>