<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Birthday reminder web app</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" /> -->
</head>

<body>
<h2 class="center" style="margin-bottom: 4.0rem">All persons</h2>
<div class="row" th:if="${persons!=null and !persons.empty}">
    <table>
        <thead>
        <!--<tr>-->
        <th>First name</th>
        <th>Last name</th>
        <th>Birth date</th>
        <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person: ${persons}">
            <td th:text="${person.firstName}"/>
            <td th:text="${person.lastName}"/>
            <td th:text="${person.birthDate}"/>
            <td><a class="btn-floating" th:href="@{delete(id=${person.id})}"><i class="material-icons">remove_circle</i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="row" th:unless="${persons!=null and !persons.empty}">
    <h4 class="center">No birthdays inserted yet.</h4>
</div>
<div class="row center">
    <a th:href="@{/}" class="btn waves-effect waves-light">
        Enter new user
    </a>
</div>
<footer class="page-footer teal">
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="http://dominik.bezevan.com">Dominik Beževan</a>
        </div>
    </div>
</footer>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="js/init.js"></script>

</body>

</html>